@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100,200,300,400,500,600,700,800,900&display=swap');

* {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: rgb(30, 30, 30);
}

.bgfooter {
    display: block;
    height: 90px;
    background: rgb(20, 20, 20);
    filter: drop-shadow(0px 0px 6px rgb(20, 20, 20));
}

.bg {
    background-image: url('bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 130%;
    overflow: hidden;
    z-index: -1;

    margin-top: -200px;
}

.pasek {
    width: 100%;
    height: 50px;
}

.logo{
    align-items: center;
    padding-left: 40%;
    padding-top: 250px;
    width: 20vw;
    padding-bottom: 550px;
    filter: drop-shadow(0px 0px 6px rgb(20, 20, 20));
    transition: 0.5s;
}

.logo2{
    width: 160px;
    height: 74.5px;
    text-align: left !important;
    right: 500px !important;
}

.overlay {
    display: flex;
    opacity: 1;
    background-size: 300% 300%;
    background: linear-gradient(to right, rgba(248, 178, 1, 0.1), rgba(255, 102, 0, 0.1));
    animation: bg 5s ease infinite;
}

iframe {
    display:block;
    padding-top: 25px;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 6px rgb(20, 20, 20));
}

.bgcard {
    margin: auto;
    display: flex;
    border-radius: 12px;
    margin-bottom: 200px;
    width: 1200px;
    height: 500px;
    background: rgb(20, 20, 20);
    filter: drop-shadow(0px 0px 10px rgb(20, 20, 20));
    text-align: left !important;
}

.kwadrat {
    background-image: url('bg.png');
    background-position: center;
    background-size: cover;
    display: block;
    width: 500px;
    height: 500px;
    opacity: 1;
    -background: linear-gradient(to right, #f8b201, #ff6600);
    background-repeat: no-repeat;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    float: right;
}

.kwadrat2 {
    background-image: url('bg.png');
    background-position: center;
    background-size: cover;
    width: 690px;
    height: 500px;
    opacity: 1;
    -background: linear-gradient(to right, #f8b201, #ff6600);
    background-repeat: no-repeat;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    float: right;
    align-items: right;
    justify-content: right;
}

text {
    transition: 0.5s;
    color: #fff;
}

text:hover {
    color: #f8b201;
}

.obrazek {
    background-image: url('pistol2.png');
    width: 500px;
    height: 500px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(20, 20, 20);
    color: white;
}

header {
    display: flex;
    margin-top: -27px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

h1 {
    margin: auto;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    filter: drop-shadow(0px 0px 6px rgb(20, 20, 20));
}

h2 {
    position: absolute;
    font-weight: 400;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    filter: drop-shadow(0px 0px 6px rgb(20, 20, 20));
}

h3 {
    font-size: 20px;
    font-weight: 200;
    text-align: right;
    color: #fff;
    filter: drop-shadow(0px 0px 6px rgb(20, 20, 20));
    transition: 0.5s;
}

h4 {
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    color: #fff;
    filter: drop-shadow(0px 0px 6px rgb(20, 20, 20));
    background-color: linear-gradient(to right, #f8b201, #ff6600);
}

h5 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    filter: drop-shadow(0px 0px 6px rgb(20, 20, 20));
}

a {
    margin-left: 20px;
    text-align: left;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: #fff !important;
}

h3:hover {
    color: #f8b201;
}

j {
    position: absolute;
    top: 15px;
    left: 15px;
    filter: drop-shadow(0px 0px 6px rgb(20, 20, 20));
}

.guzik {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    background-color: linear-gradient(to right, #f8b201, #ff6600);
    color: #fff;
    filter: drop-shadow(0px 0px 6px rgb(20, 20, 20));
    transition: 0.5s;
}

.guziktlo {
    border-radius: 24px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
    width: auto;
    height: auto;
    background-color: linear-gradient(to right, #f8b201, #ff6600);
}

p {
    font-size: 25px;
    font-weight: 600;
    color: #f8b201;
    filter: drop-shadow(0px 0px 6px rgb(20, 20, 20));
}

/* SCROLLBAR - PASEK PO LEWO */

::-webkit-scrollbar {
    width: 8px;
    background: rgb(20, 20, 20);
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 12px;
    border-radius: 0px;
    background: rgb(100, 100, 100);
    /*-webkit-box-shadow: inset 0 0 6px rgba(50,50,0,0.5);*/
}

@keyframes kwadrat {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}